<%= form_with(model: @user_profile, local: true) do |f| %>
  <div class="user_profile">
    <div class="field_group">
      <div class="subtitle">
        <span class="material-icons">insert_drive_file</span>
        基本情報
      </div>
      <%= f.label :name, '名前', class: 'form-required' %>
      <%= f.text_field :name, placeholder: "小山 きよみ", class: 'form-control' %>
      <% if @user_profile.errors.include?(:name) %>
        <div class="error_message_container">
          <% @user_profile.errors.full_messages_for(:name).each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <%= f.label :name_kana, 'ふりがな' %>
      <%= f.text_field :name_kana, placeholder: "こやま きよみ", class: 'form-control' %>

      <%= f.label :email, 'メールアドレス', class: 'form-required' %>
      <%= f.text_field :email, placeholder: "a2100ab@aiit.ac.jp", class: 'form-control' %>
      <% if @user_profile.errors.include?(:email) %>
        <div class="error_message_container">
          <% @user_profile.errors.full_messages_for(:email).each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <%= f.label :major_subject, 'コース', class: 'form-required' %>
      <%= f.select(:major_subject, 
                  @major_subject.map{ |value| [value, value] },
                  { :prompt => '選択してください' },
                  { :class => 'form-control' })
                  %>
      <% if @user_profile.errors.include?(:major_subject) %>
        <div class="error_message_container">
          <% @user_profile.errors.full_messages_for(:major_subject).each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <%= f.label :started, '入学年', class: 'form-required' %>
      <%= f.text_field :started, placeholder: "2021", class: 'form-control' %>
      <% if @user_profile.errors.include?(:started) %>
        <div class="error_message_container">
          <% @user_profile.errors.full_messages_for(:started).each do |msg| %>
            <p class="error_message"><%= msg %></p>
          <% end %>
        </div>
      <% end %>

      <%= f.label :other, '自己紹介' %>
      <%= f.text_area :other, placeholder: "こんにちは！\n情報アーキテクトとプロジェクトマネジメントに興味があります。\nよろしくおねがいします。", rows: 5, class: 'form-control' %>

      <div>
      プロフィール画像
      ...
      </div>
    </div>

    <div class="field_group">
      <div class="subtitle">
        <span class="material-icons">person</span>
        個人プロフィール
      </div>
      <div>
        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname, placeholder: "tobby", class: 'form-control' %>

        <%= f.label :work, '仕事' %>
        <%= f.text_field :work, placeholder: 'コンサル会社でPMをやっています。', class: 'form-control' %>

        <%= f.label :hobby, '趣味' %>
        <%= f.text_area :hobby, placeholder: "サッカー観戦とウィスキー集め", class: 'form-control' %>

        <%= f.label :favorite_food, '好きな食べ物' %>
        <%= f.text_field :favorite_food, placeholder: "蟹", class: 'form-control' %>

        <%= f.label :hated_food, '嫌いな食べ物' %>
        <%= f.text_field :hated_food, placeholder: "なんでも食べます。", class: 'form-control' %>
      </div>
    </div>

    <div class="field_group">
      <div class="subtitle">
        <span class="material-icons">school</span>
        学校プロフィール
      </div>
      <div>
        <%= f.label :background, '入学した経緯' %>
        <%= f.text_area :background, placeholder: 'エンジニアになって圧倒的成長をして年収1000万円になるため。', class: 'form-control' %>

        <%= f.label :pbl, '入りたいPBL' %>
        <%= f.text_field :pbl, placeholder: "小山PBL 三好PBL", class: 'form-control' %>

        <%= f.label :user_profile_subjects, '受講した科目' %>
        <%= f.collection_check_boxes :subject_ids, @subjects, :id, :name do |b| %>
          <div>
            <%= b.label class:"checkbox" do %>
              <%= b.check_box %>
              <span><%= b.text %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6 mx-auto d-flex justify-content-center">
      <%= f.submit '保存する', class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>
