<%= form_with(model: @user_profile, local: true) do |f| %>
  <div class="user_profile">
    <div>
      <h1>基本情報</h1>
      <%= f.label :name, '名前', class: 'form-required' %>
      <%= f.text_field :name, class: 'form-controls' %>

      <%= f.label :name_kana, 'ふりがな' %>
      <%= f.text_field :name_kana %>

      <%= f.label :email, 'メールアドレス', class: 'form-required' %>
      <%= f.text_field :email, class: 'form-controls' %>

      <%= f.label :major_subject, 'コース', class: 'form-required' %>
      <%= f.select(:major_subject, 
                  @major_subject.map{ |value| [value, value] },
                  { :prompt => '選択してください' },
                  { :class => 'form-controls' })
                  %>

      <%= f.label :started, '入学年', class: 'form-required' %>
      <%= f.text_field :started, class: 'form-controls' %>

      <%= f.label :other, '自己紹介' %>
      <%= f.text_area :other, placeholder: '入力...' %>

      <div>
      プロフィール画像
      ...
      </div>
    </div>

    <div>
      <h1>個人プロフィール</h1>
      <div>
        <%= f.label :nickname, 'ニックネーム' %>
        <%= f.text_field :nickname %>

        <%= f.label :work, '仕事' %>
        <%= f.text_field :work, placeholder: '入力...' %>

        <%= f.label :hobby, '趣味' %>
        <%= f.text_area :hobby %>

        <%= f.label :favorite_food, '好きな食べ物' %>
        <%= f.text_field :favorite_food %>

        <%= f.label :hated_food, '嫌いな食べ物' %>
        <%= f.text_field :hated_food %>
      </div>
    </div>

    <div>
      <h1>学校プロフィール</h1>
      <div>
        <%= f.label :background, '入学した経緯' %>
        <%= f.text_area :background, placeholder: '入力...' %>

        <%= f.label :pbl, '入りたいPBL' %>
        <%= f.text_field :pbl %>

        <%= f.label :user_profile_subjects, '受講した科目' %>
        <%= f.collection_check_boxes :subject_ids, @subjects, :id, :name do |b| %>
          <div>
            <%= b.label class:"checkbox" do %>
              <%= b.check_box %>
              <span><%= b.text %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <%= f.submit '保存' %>
    </div>
  </div>
<% end %>