<% content_for(:title, 'プロフィールリスト') %>

<ul class="users">
  <% @user_profiles.each do |user_profile| %>
    <li class="bg-palegreen user_profile">
      <a href="<%= profile_path(user_profile) %>">
        <%# ユーザーアイコン登録実装後差し替える %>
        <img src="https://1.bp.blogspot.com/-3YfJ5FDIfB0/Wn1V7_0bdfI/AAAAAAABKGc/NJMDAsrSGBEkWEpaxBjBujsXHqOXEx3pACLcBGAs/s400/hyoujou_shinda_me_man.png" alt="" class="user_profile__photo">
        <div class="user_profile__info">
          <span class="username"><%= user_profile.name %></span>
          <span class="major_subject">
            <%== major_subject_icon(user_profile.major_subject) %>
            <span class="major_subject_name"><%= user_profile.major_subject %></span>
          </span>
          <% if user_profile.other.present? %>
            <span class="other"><%= user_profile.other.truncate(200) %></span>
          <% end %>
        </div>
      </a>
    </li>
  <% end %>
</ul>

<%= paginate @user_profiles %>
