<% content_for(:title, 'プロフィールリスト') %>

<ul class="users">
  <% @user_profiles.each do |user_profile| %>
    <li class="bg-palegreen user_profile">
      <a href="<%= profile_path(user_profile) %>">
        <% if user_profile.image.present? %>
          <img src="<%= user_profile.image %>" alt="" class="user_profile__photo">
        <% else %>
          <span class="material-icons user_profile__photo">account_box</span>
        <% end %>
        <div class="user_profile__info">
          <span class="username"><%= user_profile.name %></span>
          <span class="major_subject">
            <%== major_subject_icon(user_profile.major_subject) %>
            <span class="major_subject_name"><%= user_profile.major_subject %></span>
          </span>
          <% if user_profile.other.present? %>
            <span class="other"><%= user_profile.other.truncate(200) %></span>
          <% end %>
        </div>
      </a>
    </li>
  <% end %>
</ul>

<%= paginate @user_profiles %>
